*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	background: white;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 51px;
}
.logo img{
	margin-left: 50px;
	width: 150px;
}
.menu a{
		color: #d75ab6;
		font-size: 20px;
		text-decoration: none;
		align-items: center;
			margin: 0 12px;
}

	.banner{
		width: 100%;
		height: 150px;
	}
